nav {
    background: var(--surface-card);
    width: 20rem;
    height: 100vh;
    display: flex;
    position: sticky;
    top: 0;
}

.mobile-nav {
    display: none;
}

.layout {
    flex-direction: row;
}

footer {
    border-top: 1px solid var(--surface-border);
}

@media (max-width: 800px) {
    .mobile-nav {
        display: flex;
        width: 100%;
    }

    nav {
        display: none;
    }

    .layout {
        flex-direction: column;
    }
}