.creds-card {
    background: var(--surface-card);
    margin: auto auto;
    min-width: 400px;
    padding: 2rem;
    border: 1px solid var(--surface-border);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.creds-card h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

.creds-logo {
    display: flex;
    justify-content: center;
}